<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Peleas</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'fights/styles.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Teko:300,400|Ubuntu:400,700&display=swap" rel="stylesheet">
</head>
<body>

<header class="cabezote">
    <div class="logo">
        <img src="{% static "fights/images/logo.png" %}" alt="logo de Hyakkimaru bodys">
    </div>

    <nav class="menu">
        <ul>
            <li><a href="{% url "index" %}">Inicio</a></li>
            <li><a class="active" href="{% url "get_fights" %}">Peleas</a></li>
            <li><a href="{% url "get_demons" %}">Demonios</a></li>
            <li><a href="{% url "get_companion_items" %}">Dororo</a></li>
        </ul>
    </nav>
</header>

<section class="seccion1">
    <div class="titulo">
        <h1>Peleas</h1>
        <h3>Registro de peleas que ha disputado Hyakkimaru</h3>
    </div>

    {% if fight_list %}
        <table class="tabla">
            <tr>
                <th>Ganador</th>
                <th class="center">Lugar</th>
                <th>Demonio</th>
            </tr>

            {% for fight in fight_list %}
                <tr>
                    <td>{{ fight.winner_name }}</td>
                    <td class="center2">{{ fight.location_name }}</td>
                    <td><img src="{{ fight.demon_image }}" alt="{{ fight.winner_name }}"></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</section>

</body>
</html>