/* PELEAS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/fondo2.png);
    background-size: cover;
}

.cabezote {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 20%;
    margin-top: 3%;
}

.logo img {
    width: 100%;
}

.menu {
    text-decoration: none;
    margin-top: 3%;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
}

li {
    margin: 0 2%;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 10px;
    font-family: 'ubuntu', sans-serif;
    font-weight: 400;
}

.menu a:hover, .active {
    background-color: #fff;
    color: #000;
}

.seccion1 {
    width: 80%;
    margin: 4% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.seccion1 h1 {
    font-family: 'ubuntu', sans-serif;
    font-weight: 700;
    font-size: 50px;
}

.seccion1 h3 {
    font-family: 'ubuntu', sans-serif;
    font-weight: 300;
}

#header-item-center {
    text-align: right;
    margin-top: 4%;
}

#header-item-center input {
    border-radius: 8px;
    padding: 5px;
}

#header-item-center input[type="submit"] {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 8px;
}

.tabla {
    width: 100%;
    margin-top: 5%;
    border-collapse: collapse;
}
.tabla th {
    text-align: center;
    background-color: #000;
    color: #fff;
    width: 33%;
    padding: 15px;
    font-family: 'teko', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.center {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.tabla td {
    text-align: center;
    background-color: #fff;
    color: #000;
    width: 33%;
    font-family: 'teko', sans-serif;
    font-weight: 400;
    font-size: 22px;
    border-bottom: 1px solid #000;
}

.center2 {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.tabla td img {
    display: flex;
    width: 40%;
    margin: auto;
}

/* Dodoro */

.container {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.izq {
    width: 60%;
}

.izq img {
    width: 100%;
}

.der {
    width: 16%;
}

.der img {
    width: 100%;
}
