/* INDEX */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/fondo.jpg);
    background-size: cover;
    background-position: 10% 10%;
}

.cabezote {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 20%;
    margin-top: 3%;
}

.logo img {
    width: 100%;
}

.menu {
    text-decoration: none;
    margin-top: 3%;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
}

li {
    margin: 0 2%;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 10px;
    font-family: 'ubuntu', sans-serif;
    font-weight: 400;
}

a:hover, .active {
    background-color: #fff;
    color: #000;
}

#sec1 {
    width: 80%;
    margin: 8% auto;
}

#sec1 p {
    width: 30%;
    font-family: 'teko', sans-serif;
    font-weight: 400;
    font-size: 22px;
}
